*{
    margin:0;
    padding:0;
    overflow: hidden; 
    box-sizing: border-box;
    font-family: monospace;
}


body{
 background-color: var(--background-color);
 /* display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh; */
}