p{
    color: #fff;
    height: calc(100vh - 100px);
    overflow-y: auto;
    scrollbar-width: none;
    text-align: justify;
    text-wrap: auto;
    word-break: break-word;
    white-space: pre-wrap;
    margin: 1rem;
}